useDynLib(tseriesEntropy, .registration = TRUE, .fixes = "C_")
import(methods,cubature,parallel,stats,graphics,ks)
export(
Srho
,Srho.test
,Srho.ts
,Srho.test.ts
,Srho.test.ts.p
,surrogate.SA
,Trho.test.SA.p
,surrogate.AR
,surrogate.ARs
,Srho.test.AR
,Srho.test.AR.p
,Trho.test.AR.p
,Trho.test.AR
,Trho.test.SA
)
exportClasses(
Srho
,Srho.test
,Srho.ts
)
exportMethods(
plot
,show
)
